@{
    ViewData["Title"] = "Top Games";
}
<script src="~/js/GameListScript.js" asp-append-version="true"></script>
<table class="w-100">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Game</th>
            <th>Current Players</th>
            <th>24h Peak</th>
        </tr>
    </thead>
    <tbody id="gamesBody">
    </tbody>
</table>