@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Web app with ASP.NET Core to track stats on steam</p>
    <a href="Stats" class="btn btn-secondary">View Stats</a>
</div>
