@{
    ViewData["Title"] = "Game Details";
}
<div id="gameDetailsContainer" class="container mt-4">
    <p class="text-white">Loading game details...</p>
</div>

<script src="~/js/GameDetailsScript.js" asp-append-version="true"></script>
